/*
 * Empty this file when starting a new project
 */


/*
 * Custom translucent site header
 */

//  :root {
//   filter: invert(100%);
// }
 .site-nav ul {

    & a {
      color: $quatriary !important;
      transition: ease-in-out color .15s;
      font-size: 1.3rem;

  
      &:hover {
        text-decoration: underline dotted;
        transition: all .4s ease-in;
      }
    }
  }

  
  .site-nav.brand a{
    font-size: 4.3rem;
  }
  
  .navbar-default {
    background-color: $white !important;
  }
  
  html, body
   {
    min-height: 100%;
    background-color: $white !important;
  }
  
  .accordion {

    & a {
      color: $quatriary !important;
      transition: ease-in-out color .15s;
      font-size: 1.3rem;
  
      &:hover {
        cursor: pointer;
        text-decoration: none;
  
      }
    }
  }

  .publication {

    & a {
      color: $quatriary !important;
      transition: ease-in-out color .15s;
      font-weight: bold;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
  
      }
    }
  }

  hr {
    margin-bottom: 1.5rem ;
    border: 0 ;
    border-top: 1px solid $quatriary !important;
  }

  .product-separator {
    border-top: 2px solid $white;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background-color: $white;
    margin-bottom: 3.4rem;

  }
  .product-separator hr {
    border-top: 1px solid $white;
  }
  
  #software-xlstat {
    background: $primary;
  }
  
  #software-xloptim {
    background: $tertiary;
  }
  
  #software-zenplot {
    background: $secondary;
  }
  
  #software-xlrisk {
    background: $cinquiary;
  }
  
  
  .product-content {
    position: relative;
    min-height: 700px;
  }

  .product-boomrang-content{
    position: absolute;
    bottom: 2.6rem;
  }
  
  .product-content:hover {
    .overlay {
      opacity: 1;
    }
  
    .text-content {
      opacity: 0;
      transition: .9s ease;
    }
  }
  
  .overlay {
    position: absolute;
    top: 12rem;
    bottom: 0;
    right: 0;
    height: 36%;
    width: 100%;
    opacity: 0;
    transition: .9s ease;
  }
  
  .navbar-collapse {
    margin-top: 6.6rem;
  }
  
  .btn-social a {
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-size: contain;
    display: inherit;
    width: 66px;
    height: 27px;
    margin-right: .7rem;
  }
  .btn-facebook {
    background-image: url('/assets/images/FB.svg');
  }
  .btn-twitter {
    background-image: url('/assets/images/TW.svg');
  }
  .btn-linkedin {
    background-image: url('/assets/images/LK.svg');
  }
  .btn-youtube {
    background-image: url('/assets/images/YT.svg');
  }
  .btn-facebook-w {
    background-image: url('/assets/images/FB.svg');
  }
  .btn-twitter-w {
    background-image: url('/assets/images/TW.svg');
  }
  .btn-linkedin-w {
    background-image: url('/assets/images/LK.svg');
  }
  .btn-youtube-w {
    background-image: url('/assets/images/YT.svg');
  }
  .hidden {
    display: none;
  }
  .btn-mention a {
    color: $quatriary;
    font-weight: bold;
    margin-right: .7rem;
  
    &:hover{
      border-bottom: 1px solid $quatriary;
      text-decoration: none;
      color: $quatriary;
    }
  }
  
  footer .nav-mention>li>a{
    border-right: 2px solid $quatriary;
    padding: 0 .4rem;
  }
  footer .nav-mention li:last-child a {
    border-right: none;

    &:hover{
        border-bottom: 1px solid $quatriary;
        text-decoration: none;
        color: $quatriary;
      }
  }
  
  .btn-mention-w a {
    color: $quatriary;
    font-weight: bold;
    margin-right: .7rem;
  
    &:hover{
      border-bottom: 1px solid $quatriary;
      text-decoration: none;
      color: $quatriary;
    }
  }
  
  footer .nav-mention>li.btn-mention-w>a{
    border-right: 2px solid $quatriary;
    padding: 0 .4rem;
    &:hover{
        border-bottom: 1px solid $quatriary;
        text-decoration: none;
        color: $quatriary;
      }
  }
  footer .nav-mention li.btn-mention-w:last-child a {
    border-right: none;

    &:hover{
        border-bottom: 1px solid $quatriary;
        text-decoration: none;
        color: $quatriary;
      }
   
  }
  
  .navbar-brand.brand-small{
    font-size: 2.8rem;
  }
  .navbar-brand {
    margin-top: -4.6rem;
  }  
  
  .wrapper{
    min-height: 600px;
  }
  .content-footer{
    display: block;
    background-repeat: repeat-y; 
    border-image: url('https://addinsoftdev.s3.us-east-2.amazonaws.com/assets/images/FOOTER.png') 30; 
    border-top: 8px solid white; 
  }
  
  .article-content{
    display: block;
    background-repeat: repeat-y; 
    // border-image: url('https://addinsoftdev.s3.us-east-2.amazonaws.com/assets/images/FOOTER.png') 30; 
    border-top: 8px solid $quatriary; 
    min-height: 100%;
  }
  
  .navbar-light {
    background-color: #fefefe!important;
  }
  
  .sticky-top {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  
  @include media-breakpoint-down(md) {
    .navbar-brand {
      margin-top: .4rem;
    } 
    .social-nav{
      margin-top: .9rem;
      margin-left: 3.2rem;
    }
    .navbar-collapse {
      margin-top: .6rem;
    }
     
  }
  
  @include media-breakpoint-up(md) {

    .content-footer{
      max-height: 2.3rem; 
      margin-top: 2.6rem;
    }
  }
  

  /*
  * Flip card 
  */

  .flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: $quatriary;
  color: white;
  transform: rotateY(180deg);
}

.flip-carr img {
  width: 200px;
  height: 200px;
}

